.list-blogs-2 .item-blog {
  margin-bottom: 50px;
}
.list-blogs-2 > .row > .col-md-12:nth-child(even) .item-blog .col-md-6:first-child {
  order: 2;
}
.list-blogs-2.not-order > .row > .col-md-12:nth-child(even) .item-blog .col-md-6:first-child {
  order: 0;
}
.list-blogs-2 .img-wrapper img {
  height: 300px;
  object-fit: cover;
  width: 100%;
}
.list-blogs-2 .item-blog .cta-wrapper {
  margin-top: 20px;
}

.list-blogs-2 .name {
  display: inline-block;
  font-size: 20px;
  font-weight:600;
  margin: 20px auto 10px;
}

.list-blogs-2 .desc {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.list-blogs-2 .info-blog-2 {
  display: flex;
  flex-direction: column;
}
