.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.login-inner {
  background-color: white;
  padding: 20px 20px 10px;
  border-radius: 5px;
}
.title-login {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.login-inner {
  min-width: 400px;
}
