.list-products .item-product {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.list-products .item-product a {
  text-decoration: none;
  color: black;
}
.list-products .item-product .img-wrapper {
  height: 220px;
  border-radius: 10px;
}
.list-products .item-product .name,
.list-blogs .item-blog .name {
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.list-products .item-product .price {
  font-size: 22px;
}

.list-products .item-product img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

.list-blogs .item-blog {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.list-blogs .item-blog .img-wrapper {
  height: 280px;
  border-radius: 10px;
}
.list-blogs .item-blog .cta-primary {
  margin-top: 10px;
}
.list-blogs .item-blog .desc {
  margin-top: 10px;
  margin-bottom: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.list-blogs .item-blog img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
}
