<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ẩm thực 3 miền, món ăn Việt Nam - Bắc, Trung, Nam | Trang chủ | Món ngon</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">    

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="js/script.js"></script>
    <link rel="icon" type="image/jpg" href="images/logo/favicon.png">
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <a href="/"><img class="logo" src="images/logo/favicon.png" /></a>
                </div>
                <div class="col-lg-8  center-header">
                    <ul class="navigation">
                        <li class="nav-item"><a href="/">Trang chủ</a></li>
                        <li class="nav-item"><a href="/products.html">Món ăn</a></li>
                        <li class="nav-item"><a href="/blogs.html">Tin tức</a></li>
                        <li class="nav-item"><a href="/contact.html">Liên hệ</a></li>

                        <li class="nav-item"><a href="login.html">Đăng nhập</a></li>
                        <li class="nav-item"><a href="register.html">Đăng kí</a></li>
                    </ul>
                    <div class="search-box">
                        <form class="search-inner" method="get" action="search.html">
                            <input class="form-control" name="keyword" value="" />
                            <button class="icon-search"></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-2 right-header">
                    <div class="cart">
                        <div class="total-items">9</div>
                    </div>
                    <a class="a-cart" href="giohang.html">Giỏ hàng</a>                
                </div>
            </div>
        </div>
    </header>


  <main class="min-height">
    <div class="single-banner">
      <div class="banner-wrapper">
        <div class="container">
          <div class="content-banner">
            <h1 class="title-banner">tonvanhiep</h1>
          </div>
        </div>
        <img src="images/banner-1.jpg" alt="Banner" />
      </div>
    </div>

    <div class="detail-wrapper mb-40">
      <div class="container">
        <h1 class="title-detail">tonvanhiep</h1>
        <div class="content">
          <p>Nhắc đến Ẩm thực Việt, rất nhiều Đầu bếp nổi tiếng phải trầm trồ vì sự đa dạng, phong phú, nhiều màu sắc. Món ăn Việt Nam với sự hòa quyện giữa lịch sử, văn hóa cùng nét tinh tế, tài tình của người dân Việt đã chinh phục vị giác hàng triệu thực khách trong và ngoài nước, trở thành niềm tự hào của người Việt.</p>

          <p>Ngày nay, dù chúng ta được tiếp xúc với nhiều nền Ẩm thực từ các nước trên thế giới thế nhưng món ăn truyền thống Việt Nam vẫn đóng vai trò quan trọng trong nhịp sống hằng ngày và nhận được cảm tình của bạn bè quốc tế. Ngoài ra, Việt Nam còn nhiều món ăn đặc sắc được làm từ nguyên liệu tự nhiên. Cùng Chefjob.vn điểm tên một số nét đặc trưng của Ẩm thực Việt từ truyền thống đến hiện đại nhé.</p>
          <p><img src="images/detail/pho-mon-an-truyen-thong-viet-nam-noi-tieng-the-gioi.jpg" alt=""></p>

          <h3>Món ăn truyền thống Việt Nam qua các vùng miền</h3>
          <h4>Phở</h4>
          <p>Một trong những món ăn truyền thống Việt Nam nổi tiếng trên toàn thế giới đó là phở. Thành phần của phở gồm bánh phở được làm từ gạo, nước dùng đậm đà vị ngọt của xương ninh nhừ và gia vị, bên trên tô phở là thịt bò hoặc gà thái mỏng cùng các loại rau thơm, gia vị như: tương, tiêu, chanh, nước mắm, ớt…</p>

          <h4>Bánh chưng</h4>
          <p>Ngày Tết Việt Nam sẽ không còn ý vị nếu thiếu đi chiếc bánh chưng. Bánh hình vuông tượng trưng cho mặt đất nơi chúng ta sinh sống. Trải qua nhiều thế kỷ với bao thăng trầm, biến động, chiếc bánh chưng xanh vẫn bên câu đối đỏ và là một tín hiệu quen thuộc khi Tết về.</p>

          <h4>Cao lầu</h4>
          <p>Cao lầu là món ăn nổi tiếng và góp phần tạo nên cái hồn ẩm thực của phố cổ Hội An. Món cao lầu được cho là xuất hiện ở Hội An từ thế kỷ 17. Đi cùng năm tháng, cao lầu vẫn giữ trọn vẹn hương vị, chinh phục thực khách từ Âu sang Á. Cao lầu có sợi mì màu vàng dùng với tôm, thịt heo, các loại rau sống và chan ít nước. Món ăn này chỉ có ở Hội An, Đà Nẵng và Huế.</p>

          <h4>Bún chả</h4>
          <p>Bún chả cũng là một trong những món ăn truyền thống Việt Nam gắn liền với lịch sử lâu đời của mảnh đất Hà Nội. Bún ăn cùng với chả thịt lợn nướng trên than hoa, một bát nước mắm chua cay mặn ngọt và rau sống. Trong chuyến thăm Việt Nam đầu năm 2016, cựu Tổng thống Mỹ Barack Obama cùng cố Đầu bếp lừng danh Anthony Bourdain đã thưởng thức món ăn này.</p>

          <p><img src="images/detail/bun-cha-la-mon-an-truyen-thong-viet-nam-noi-tieng.jpg" alt=""></p>

          <h3>Món ăn làm từ hoa chỉ có ở Việt Nam</h3>
          <h4>Món ăn từ hoa ban</h4>
          <p>Cách sơ chế hoa ban cũng lắm công phu, sau khi hái về nhặt lấy cánh và nhụy hoa, rửa sạch, chần qua nước nóng rồi mới đem đi chế biến. Với món nộm hoa ban, phải có lạc, chanh và loại tương ủ lên men của dân tộc Thái cùng một chút riềng giã nhỏ, món ăn thường được dùng để đãi khách quý đến nhà. Còn với món xôi đồ, phải chọn hoa ban mới nở, cho vào chõ đồ xôi đã chín và ăn kèm chẩm chéo. Mùi vị bùi bùi, ngọt ngọt, thoảng mùi thơm dịu nhẹ của hoa ban sẽ vấn vương trên đầu môi, nhẹ nhàng lan tỏa vào sâu bên trong mang đến cho thực khách những trải nghiệm rất ấn tượng.</p>

          <h4>Món ăn từ hoa thiên lý</h4>
          <p>Với vị ngọt thanh, tính hàn, giải nhiệt và giúp ngon giấc, hoa thiên lý cũng được các Đầu bếp nhà hàng và các bà nội trợ dùng để chế biến ra muôn vàn món ăn ngon như: Thiên lý xào thịt bò, canh hoa thiên lý nấu xương, hoa thiên lý nấu cua… Ngoài ra, hoa thiên lý cũng thường được dùng như một loại rau ăn kèm lẩu rất ngon.</p>

          <h4>Món ăn từ hoa chuối</h4>
          <p>Hoa chuối xắt nhỏ, ngâm sơ qua nước cho bớt vị chát rồi đem trộn với tai heo, lạc rang giã nhỏ, các loại rau thơm, gia vị, ớt chanh… Sự tổng hòa của các vị chua cay mặn ngọt, vị hơi chát của hoa chuối, chút giòn giòn, beo béo của tai heo, bùi bùi của lạc và thơm mát của rau đã khiến món nộm hoa chuối trở thành món khoái khẩu của nhiều người. Ngày nay, món ăn này thường dùng làm món khai vị trong các bữa tiệc.</p>

          <h4>Món ăn từ hoa điên điển</h4>
          <p>Món ăn từ điên điển có thể kể đến: Gỏi chua bông điên điển, điên điển xào tép, nộm hoa điên điển… Nổi tiếng nhất phải kể đến món canh chua điên điển cá linh – một sự kết hợp độc đáo duy chỉ có ở miền Tây. Bông điên điển màu vàng tươi, thơm, giòn giòn, bùi béo quyện với vị ngọt của cá linh, kèm theo chén nước mắm chua ngọt, hương vị dân dã ấy đã trở thành một nét chấm phá độc đáo trong ẩm thực miền Nam bộ.</p>

          <p><img src="images/detail/nguyen-lieu-cho-nhieu-mon-hoa-dien-dien.jpg" alt=""></p>

          <p>Hoa điên điển vàng ươm là nguyên liệu cho ra nhiều món ăn đặc trưng của vùng sông nước – Ảnh: Internet
          Người Việt từ xa xưa đã biết tận dụng những nguyên liệu dân dã, gần gũi để làm nên món ăn đặc sắc, thơm ngon. Nếu bạn đang làm nhân viên Phục vụ, Phụ bếp… cho một nhà hàng hay đang theo học ngành Nhà hàng – Khách sạn, hãy “bỏ túi” những cách giới thiệu món ăn Việt trên để sử dụng khi cần thiết nhé.</p>
        </div>

        <h2 class="title-category">Danh sách bình luận</h2>
        <div class="list-comment">
          <div class="item-comment">
            <div class="item-comment">
              <div class="name">Nguyễn Văn A</div>
              <div class="content">
                Reprehenderit adipisicing cillum consectetur cupidatat aliquip magna tempor veniam dolore ipsum.
              </div>
            </div>
            <div class="item-comment">
              <div class="name">Nguyễn Văn A</div>
              <div class="content">
                Reprehenderit adipisicing cillum consectetur cupidatat aliquip magna tempor veniam dolore ipsum.
              </div>
            </div>
          </div>
        </div>

        <div class="comment-form">
            <form method="post" action="">
              <h2>Bình luận</h2>
              <input type="hidden" name="postId" value="vv" />
              <div class="form-group">
                <label for="email">Email <span class="text-danger">*</span></label>
                <input id="email" class="form-control" name="email" required />
              </div>
              <div class="form-group">
                <label for="content">Nội dung</label>
                <textarea class="form-control" name="content" rows="3" required></textarea>
              </div>
              <div class="form-group text-right">
                <button class="btn btn-info" type="submit" name="submit_comment">Gửi bình luận</button>
              </div>
              <!-- <p class="text-danger text-center"><?php echo $alert ?></p> -->
            </form>
        </div>
      </div>
    </div>
  </main>


  <footer>
      <div class="container">
          <div class="row">
              <div class="col-md-4 footer-left">
                  <img class="logo" src="images/logo/favicon.png" />
                  <span class="copry-right">&copy; 2021 Delicious Food. All right reserved</span>
              </div>
              <div class="col-md-8 footer-right">
                  <ul class="nav-footer">
                      <li>
                          <a href="/">Trang chủ</a>
                      </li>
                      <li>
                          <a href="/products.html">Món ăn</a>
                      </li>
                      <li>
                          <a href="/blogs.html">Tin tức</a>
                      </li>
                      <li>
                          <a href="/contact.html">Liên hệ</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </footer>
</body>
</html>